.SpentDetailCard{
    margin: 15px;
}

.readOnlyChips{
    .p-inputtext{
        border: none !important;
        pointer-events: none !important;
    }

    .p-chips-token-icon{
        visibility: hidden !important;
    }
}